
<div class="card text-center">
    <div class="card-body">
        <h3>{{ title }}</h3>
    </div>
</div>

<div class="jumbotron"> 
    
    <h3>{{ result.question}}</h3>

    <div>
        <button id="question-oui" type="button" class="btn btn-success">Oui</button>
        <button id="question-non" type="button" class="btn btn-danger">Non</button>
    </div>

</div>

<div id="reponse-oui" class="alert alert-success" role="alert" display="hidden">{{ result.oui}}</div>
<div id="reponse-non" class="alert alert-danger" role="alert" display="hidden">{{ result.non}}</div>